<div class="topic-index-wrapper">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
      <%= @user.name %>
      <p>
     <%= link_to 'プロフィールを表示', users_show_path(:id => current_user.id) %>
     </p>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= @title %></h3>
      <ul class="users follow">
        <% @user.following.each do |user| %>
       <a href="<%= users_show_path %>">
         <%= user.name %>
       </a>
        <% end %>
      </ul>
    </div>
  </div>
</div>